.posicoes {
    text-align: center;

    padding: 32px;
}

.posicoes h3 {
    font-size: 32px;

    border-bottom: 4px solid;

    display: inline-block;

    padding-bottom: 8px;
}

.jogadores-div {
    display: flex;
    flex-wrap: wrap;
}